.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.button {
  background-color: var(--color-main);
  border: none;
  color: white;
  width: 50px;
  aspect-ratio: 1/1;
  font-size: 2em;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
